/*Layout styles*/

.body-content {
    margin: 20px 0px;
}

/* Nav bar */
@media (min-width: 998px) {
    #nav-input {
        width: 100px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    #nav-input:focus {
        width: 300px;
    }
}

@media (max-width:810px) {
    .nav-tabs > li {
        width: 50%;
        text-align: center;
    }
}

/* Member pages */
.profile-page-header {
    background-image: url("../../Images/member.jpeg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-page-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.profile-page-text img {
    width: 100px;
    height: 100px;
}

/* Cause pages */

.cause-page-header {
    background-image: url("../../Images/cause.jpeg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#causesTopCarousel .carousel-inner {
    max-width: 1024px;
    max-height: 480px;
}

#causesTopCarousel .carousel-inner .carousel-caption {
    left: 15%;
    right: 15%;
    top: 340px;
}
@media (max-width: 1024px) {
    #causesTopCarousel .carousel-inner .carousel-caption {
        display: none;
    }
}

@media (max-width: 576px) {
    #causesCarouselContainer {
        display: none;
    }
}

.header-background {
    background-image: url("../../Images/index.jpeg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-button-container {
    margin-top: 20px;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-flex: initial;
    -webkit-box-pack: center;
    flex-grow: initial;
    justify-content: center;
}

.header-button {
    margin: 20px;
    padding: 20px 25px;
}

/* Index page */

#indexCarousel .carousel-inner {
    max-width: 1024px;
    max-height: 480px;
}

#indexCarousel .carousel-inner .carousel-caption {
    left: 15%;
    right: 15%;
    top: 340px;

}

@media (max-width: 1024px) {
    #indexCarousel .carousel-inner .carousel-caption {
        display: none;
    }
}

@media (max-width:924px) {
    #index-callout {
        font-size: 4rem;
    }
    #index-title {
        font-size: 3rem;
    }
}

/* Card image fix */

.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 15rem !important;
}